/* DESIGN DECISIONS */
/* 
Margin -
--------
mt-10

mr-4

mb-1
mb-2
mb-4
mb-6
mb-8

Padding -
---------
p-1
p-2

px-1.5
px-2
px-3
px-4
px-6
px-8
px-10
px-12
px-16
px-24

py-1
py-2
py-4

Font Size -
-----------
text-xs
text-sm
text-base
text-lg
text-2xl
text-3xl

Font Weight -
-------------
font-bold
font-semibold

Flex Gap -
----------
gap-1
gap-2
gap-3
gap-4
gap-8

Border Radius -
---------------
rounded-sm
rounded
rounded-lg
rounded-full
rounded-[50%]

Line Height -
-------------
leading-relaxed

Letter Spacing -
----------------
tracking-wider
tracking-wide

Text Color -
------------
text-gray-500
text-gray-300
text-white

Shadow -
--------
shadow-2xl

 */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* We want font size as 10px (default is 16px) on html root el (so that 1rem will be 10px - for easy calcs) */
  /* But we should not set it to 10px manuallly as user may change font size setting in browser and that might create issues */
  /* So instead we specify in % like below */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Commenting below for now. Doesnt feel convinient with Tailwind */
  /* font-size: 62.5%; */
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/* Change the root element font size at various breakpoints */
@layer base {
  html {
    @apply text-base lg:text-sm md:text-sm sm:text-sm;
  }
}

/* Global CSS Variables */
:root {
  --color-primary: #047C03;
  --color-secondary: #02504A;
}
